[Desktop Entry]
Name=Nova Settings
Comment=Settings application for KDE Plasma
TryExec=novasettings
Exec=novasettings %U
Terminal=false
Type=Application
GenericName=
StartupNotify=true
Icon=novasettings
Categories=Qt;KDE;
MimeType=
SingleMainWindow=true
